* {
    box-sizing: border-box;
  }
  
  .content {
    background-color: #4682B4;
  }
  
  #header {
    text-align: right;
    height: 200px;
    background-color: #000000;
    margin-bottom: 10px;
  }
  
  #flex-container {
  
    background: rgb(0, 150, 208);
    display: flex;
    height: 300px;
    flex-wrap: wrap;
  }
  
  #flex-container>div {
    background: #FFFFFF;
    border: 1px solid;
    width: 20%;
    margin: 0px;
    padding: 0px;
  }
  
  a {
    color: #A9A9A9;
    text-decoration: none;
    
     
   }
   
  
  
  .home {
    text-align: left;
    margin: 20px;
  }
  
  .menu {
    text-align: center;
    border-radius: 10px;
    color: #36454A;
    background: -webkit-linear-gradient(top, #008000, #008000 50%, #008000 50%);
    background: -o-linear-gradient(top, #008000, #008000 50%, #008000 50%);
    background: linear-gradient(to top, #008000, #008000 50%, #008000 50%);
    box-shadow: 2px 2px 3px black;
  }
  a:hover{
    background: -webkit-linear-gradient(bottom, #00FF7F, #00FF7F 50%, #00FF7F 50%);
    background: -o-linear-gradient(bottom, #00FF7F, #00FF7F 50%, #00FF7F 50%);
    background: linear-gradient(to bottom, #00FF7F, #00FF7F 50%, #00FF7F 50%);
  
  }
  
  .poisk {
    margin-right: 20px;
  }
  
  .web {
    
    color: #006400;
    text-shadow: 1px 1px black;
    letter-spacing: 2px;
    border-bottom: 2px solid transparent;
  }
  .web:hover {
    color: #F54318;
    border-bottom: 1px solid #F54318;
    box-shadow: 0 1px 0 white, 0 2px 0 #969696;
  }