 * {
     box-sizing: border-box;
 }

 html,
 body {
     margin: 0;
     padding: 0;
 }

 .grid-container {
     height: 100vh;
     display: grid;
     grid-template-areas:
         'header'
         '.'
         'menu'
         '.'
         'content'
         '.'
         'sidebar'
         '.'
         'footer';
     grid-template-columns: 1fr;
     grid-template-rows: 80px 5px 80px 5px 1fr 5px 80px 5px 80px;
 }

 .header {
     grid-area: header;
     background-color: #bbb;
 }

 .menu {
     grid-area: menu;
     background-color: #ccc;
 }

 .sidebar {
     grid-area: sidebar;
     background-color: #ccc;
 }

 .content {
     grid-area: content;
     background-color: #eee;
 }

 .footer {
     grid-area: footer;
     background-color: #bbb;
 }

 h3 {
     text-align: center;
 }

 @media screen and (min-width: 468px) {
     .grid-container {
         height: 100vh;
         display: grid;
         grid-template-areas:
             'header header header header header'
             '. . . . .'
             'menu . content . sidebar'
             '. . . . .'
             'footer footer footer footer footer';
         grid-template-columns: 130px 5px 1fr 5px 130px;
         grid-template-rows: 90px 5px 1fr 5px 90px;
     }
 }

 .grid-container {
     height: 100vh;
     display: grid;
     grid-template-areas:
         'header'
         '.'
         'menu'
         '.'
         'content'
         '.'
         'sidebar'
         '.'
         'footer';
     grid-template-columns: 1fr;
     grid-template-rows: 80px 5px 80px 5px 1fr 5px 80px 5px 80px;
 }

 .grid-container {
     height: 100vh;
     display: grid;
     grid-template-areas:
         'header header header header header'
         '. . . . .'
         'menu . content . sidebar'
         '. . . . .'
         'footer footer footer footer footer';
     grid-template-columns: 130px 5px 1fr 5px 130px;
     grid-template-rows: 90px 5px 1fr 5px 90px;
 }